<%- include ('partials/header.ejs') %>
 
 <%- include ('partials/main_nav.ejs') %>
 
<!--Main content-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> Welcome to the <%= title %> page</h1>
      </div>
      <!--Name, photo, Resume-->
      <div>
       <b> Shinumol Sebastian</b> <br>
       <a><img src="/Assets/images/photo.jpg "width="120" height="150"></a>
       <p>I am in 3rd Semester, Diploma in Software Engineering program at Centennial college. I live in Nov Scotia. I love cooking,watching movies and to play with my 18 month old baby.</p>
       
       <a href="/Assets/images/Resume.pdf">Resume</a> 
      </div>

    </main>

 <%- include ('partials/bottom_nav.ejs') %>

 <%- include ('partials/footer.ejs') %>
