<%- include ('partials/header.ejs') %>
 
 <%- include ('partials/main_nav.ejs') %>
 
<!--Main content-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> Welcome to the <%= title %> page</h1>
      </div>
      <!--Projects-->
      <div>
        <b>Projects</b>
        <p>Portfolio Website: Personal Portfolio website include Home page,  About Me page, a Projects page, a Services page, and a Contact Me page.
          <br>Technologies – Node js. ExpressJS, EJS, Bootstrap, Heroku<br><br>
          Facebook Login page: Created an account and Facebook login page <br>
          Technologies – HTML, CSS, JS<br><br>
          Payment form: Payment form with credit card information and copy of it.<br>
          Technologies – HTML, CSS,JS<br><br>
          Photo Gallery:Photo gallery of cute puppies with forward, backward options<br>
           Technologies – HTML, CSS, JS,Jquery
          </p>
      </div>

    
  </main>

 <%- include ('partials/bottom_nav.ejs') %>

 <%- include ('partials/footer.ejs') %>
