<%- include ('partials/header.ejs') %>
 
 <%- include ('partials/main_nav.ejs') %>
 
<!--Main content-->
<main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> Welcome to the <%= title %> page</h1>
      
   
      </div>
      <!--Services and images-->
      <div>
       <b>Services</b>
       <p>Web Development</p>
      </div>
      <div>
        <div>
        <a><img src="/Assets/images/project1.jpg   "width="500" height="250"></a>
        <a><img src="/Assets/images/project1.1.jpg   "width="500" height="250"></a><br><br>
        <a><img src="/Assets/images/project2.jpg   "width="500" height="250"></a>
        <a><img src="/Assets/images/project3.jpg   "width="500" height="250"></a><br><br>
        <a><img src="/Assets/images/project4.jpg   "width="500" height="250"></a>
      </div>

    
  </main>

 <%- include ('partials/bottom_nav.ejs') %>

 <%- include ('partials/footer.ejs') %>
